1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [ ]:
tup = tuple(range(1,11))
print(tup)

2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print(f"The first element of the tuple {tup[0]}")
print(f"The second middle element of the tuple {tup[(len(tup) // 2)]}")
print(f"The last element of the tuple {tup[-1]}")

3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
print(f"The first three elements are {tup[:3]} ")
print(f"The last three elements are {tup[-3:]}")
print(f"The elements from index 2 to 5 are {tup[2:6]}")

 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("Matrix:")
for row in matrix:
    print(row)

print(f"element at the second row and third column is {matrix[1][2]}")

5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
tup1 = (1,2,3)
tup2 = (4,5,6)
print(tup1 + tup2)

6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
tup = (1,2,3,1,)
print("Occurance of the element are ", tup.count(1))
print("First occurance of an element in the tuple is ", tup.index(1))

 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tup = (1,2,3,4,5)
a,b,c,d,e = tup
print(a,b,c,d,e)

8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
lst = [1,2,3,4,5]
tup = tuple(lst)
print(tup)
print(type(lst))

 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tpl_of_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tpl_of_tpl)

10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
tup = (1,2,3,4,5)
lst = list(tup)
lst.append(6)
tup = tuple(lst)
print(tup)

11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
str = "hello"
tup = tuple(str)
joined_string = "".join(tup)
print(joined_string)

12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [ ]:
dict = {
    (1,2): 3,
    (4,5): 6,
    (7,8): 9
}
print(dict)

13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for subtuple in nested_tuple:
    for items in subtuple:
        print(items)

14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:
tup = (1,2,3,4,2,5,1)
set_value = set(tup)
print(set_value)

15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tuple = (1,2,3,4,5)
print(f"The minimun value of the tuple is {min_in_tuple(sample_tuple)}")
print(f"The maximun value of the tuple is {max_in_tuple(sample_tuple)}")
print(f"The sum of the tuple is {sum_of_tuple(sample_tuple)}")