1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [ ]:
my_set = set(range(1,11))
print(my_set)

2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [ ]:
# Adding number 11 to the set
my_set.add(11)

# Removing number 1 from the set
my_set.remove(1)

# Printing the modified set
print(my_set)

3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {2,4,8,10,12}

print(f"The result of union operation is {set1.union(set2)}")
print(f"The result of the intersection operation is {set1.intersection(set2)}")
print(f"The result of the difference operation is {set1.difference(set2)}")
print(f"The result of the symetric difference operation is {set1.symmetric_difference(set2)}")

4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [ ]:
square_value = {num**2 for num in range(1,11)}
print(square_value)

5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [ ]:
even = {i for i in my_set if i%2==0}
print(even)

6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [ ]:
s = {1,2,3,3,4,4,5}
unique_s = set(s)
print(unique_s)

 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [ ]:
s1 = set(range(1,6))
s2 = set(range(1,4))

# Checking if the second set is a subset of the first set.
print(s1.issubset(s2))

# Checking if the first set is a superset of the second set.
print(s1.issuperset(s2))

8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [ ]:
fs = frozenset(range (1,6))
print(fs)

9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [ ]:
set0 = set(range(1,6))
print(set0)

# Convrting set to a list
lst = list(set0)

# Appending value in the list
lst.append(6)

# Converting back to the list
set0 = set(lst)

print(set0)

10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [ ]:
set_dict = {
    
    frozenset((1,2)) : 3,
    frozenset((4,5)) : 9,
    frozenset((7,8)) : 15
}

print(set_dict)

 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [ ]:
s = {1,2,3,4,5}
for i in s:
    print(i)

12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [ ]:
s = set(range(1,7))
while s:
    s.pop()
    print(s)

13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [ ]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

s1.symmetric_difference_update(s2)
print(s1)

14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [ ]:
s = {1,2,3,4,5}
print(1 in s)
print(5 in s)
print(10 in s)

15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [ ]:
tuple_set = {
    (1,2), (3,4), (4,5)
}

print(tuple_set)